/* .login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/Login_background.jpg');
   background-size: cover;
   background-position: center;
  background-repeat: no-repeat;
}

.login-card {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.95);
}

.login-title{
  font-size: 40px;
  color: rgba(2, 2, 2, 0.7);
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.welcome-title{
  font-size: 40px;         
  font-weight: bold;
  color: white;           
  text-align: center;
  margin-bottom: 50px;
} */